* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: open sans, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(images/background.jpg);

}
.app-container {
    background: #000809d0;
    color: white;
    padding: 2em; 
    width: 100%
    border-radius: 2em;
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
        0 5px 5px 0 rgba(0, 0, 0, 0.24);
        margin: 2em;
    
}

.app-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: cursive;
    font-size: 2.5em;
    font-weight: 600;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
button {
    padding: 0.7em 1.2em;
    border: none;
    background: #000809d0;
    color: white;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
button:hover {
    background: #000809d0;
    color: white;
    border: 2px solid white;
    border-radius: 0.5em;
    border-radius: 7px 0px 7px 0px;
}
input.city-input {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 0.5em;
    border-radius: 10px 0px 2px 0px;
    border-bottom: 1px solid #444343;

    background-color: #595b5bd0;
    color: rgb(255, 255, 255);
    font-size: 1em;
    width: 50%;
    text-align: left;
}
input.city-input::placeholder {
    color: rgb(204, 200, 200);
}
input.city-input:focus {
    border: 2px solid rgb(153, 152, 152);
    border-radius: 0.5em;
    border-radius: 7px 0px 7px 0px;
;
}
.location-details {
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
    margin: 4.5em;
    
}
.weather-details {
    margin-bottom: 2em;
    font-size: 0.8em;
}
.description {
    display: flex;
    font-size: 0.7em;
    text-transform: capitalize;
}
.weather-icon {
    width: 70px;
}
.weather-description {
    display: flex;
    align-items: center;
}
.temperature {
    font-size: 2.5em;
    font-weight: 600;
}
